.features {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 150px;
}

.featurex__title {
   font-size: 30px;
   font-weight: 700;
   color: #5e5e5e;
   text-align: center;
   margin-top: 90px;
   margin-bottom: 10px;
}

.features__item {
   width: 25%;
   padding: 0 40px;
   margin: 25px 0;
   text-align: center;
}

.features__icon {
   margin-bottom: 5px;
   width: 50%;
}

.features__text {
   font-size: 14px;
   font-weight: 400;
   line-height: 1.5;
   opacity: .7;
}