body {
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   margin: 0 auto;
   line-height: 1.5;
   font-weight: 400;
   color: #000;
   background-color: #fff;
   -webkit-font-smoothing: antialiased;
}

.header {
   padding: 10px 0;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;

   .header__inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   .nav__link {
      margin-left: 80px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #000;
      display: inline-block;
      vertical-align: top;
      margin: 0 15px;
      position: relative;
  
      text-decoration: none;
  
      transition: color .1s linear;
      &::after{
         content: "";
         display: block;
         width: 100%;
         height: 2px;
         background-color: rgba(46, 249, 36);
         opacity: 0;
         position: absolute;
         top: 100%;
         left: 0;
         z-index: 1;
         transition: opacity .1s linear;
      }
      &:hover {
         color: rgba(46, 249, 36);
      }
      &:hover::after{
         opacity: 1;
      }
   }
}