.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;

   .offer__inner {
      display: flex;
      justify-content: space-between;
      margin: 80px 30px 30px 30px;
   }
}
.offer__advantages {
   width: 330px;
   margin-top: 50px;
   border-radius: 15px;
}

.offer__advantages-text {
   margin-top: 20px;
   font-size: 18px;
   font-weight: 300;
   line-height: 21px;
}

.offer__slider {
   width: 650px;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.offer__slider-counter {
   display: flex;
   width: 180px;
   align-items: flex-end;
   font-size: 24px;
   color: rgba(0,0,0,0.5);
}

.offer__slider-wrapper {
   width: 100%;
   margin-top: 15px;
   box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
   border-radius: 15px;
}

element.style {
   width: 400%;
   display: flex;
   transition: all 0.8s ease 0s;
   transform: translateX(-650px);
}

.offer__slide {
   width: 100%;
   height: 390px;
}

.offer__slide img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.offer__slider #current {
   font-size: 48px;
   font-weight: bold;
   color: black;
}

.offer__slider-prev {
   margin-right: 10px;
   cursor: pointer;
}

.offer__slider-next {
   margin-left: 10px;
   cursor: pointer;
}

.offer__advantages {
   position: relative;
   background-color: #e3e3e3;
   padding: 24px;
   width: 40%;
   text-align: center;
   
}

.slider__title span {
   font-size: 34px;
   font-weight: 700;
   color: #999999;
   
}

.slider__title {
   font-size: 34px;
   font-weight: 700;
   color: #000;
   margin-bottom: 50px;
   line-height: 1.5;
}

.slider__text {
   font-size: 15px;
   font-weight: 700;
   line-height: 1.5;
   color: #000;
   margin-bottom: 50px;
}

.btn {
   padding: 15px 50px;
   background-color: #ff3333;
   color: #fff;
   font-size: 15px;
   font-weight: 700;
   border-radius: 20px;
   transition: .2s linear;
}

.btn:hover {
   background-color: #e81010;;
}

.slider__prev--img {
   width: 40%;
   position: absolute;
   bottom: -65px;
   right: -65px;
   z-index: 1000;
}

.show {
   display:block
}
.hide {
   display:none
}
.fade {
   animation-name:fade;animation-duration:1.5s
}
@keyframes fade {
   0%{opacity:0.5}to{opacity:1}
}